.footerFrame {
  display: flex;
  flex-direction: column;
}


.logoFrame {
  display: flex;
  justify-content: space-around;
  padding: 25px 0px;
  width: 100%;
}

.icon {
  height: 20px;
  width: 20px;
  margin: 20px;
}

.footerLogo {
  height: 100px;
  width: 100px;
  align-self: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .logoFrame {
    width: 800px;
  }
}

@media (min-width: 1024px) {
  .logoFrame {
    width: 1000px;
  }
}