.navbar {
  display: flex;
  justify-content: center;
  padding: 17px 0px 0px 17px;
  background-color: #ffff;
}

.SearchIcon {
  width: 47px;
  height: 47px;
  padding-right: 40px;
}

.logo {
  position: fixed;
  height: 30px;
  left: 36px;
  height: 47px;
}

.InputField {
  border: none;
  height: 50px;
  font-size: 20px;
}

textarea:focus,
input:focus {
  outline: none;
  display: flex;
}
