.innerFrame {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 800px;
}


@media (min-width:768px) and (max-width:1024px) {
  .innerFrame {
    justify-content: space-evenly;
  }
}


@media (min-width:1024px) {
  .innerFrame {
    min-width: 1000px;
  }
}
    