.innerFrame {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 800px;
}

@media (min-width:414px) and (max-width:767px) {
  .innerFrame {
    flex-direction: column;
    justify-content: flex-start;
  }
}