.teamFrame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0px;
}

.profileContainer {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

@media (min-width:1024px) {
  .teamFrame {
    min-width: 1000px;
  }
}